---
const SLIDES = [
  { image: 'https://picsum.photos/id/237/400/300', text: 'Slide 1', href: '/' },
  { image: 'https://picsum.photos/id/238/400/300', text: 'Slide 2' },
  { image: 'https://picsum.photos/id/239/400/300', text: 'Slide 3', href: '/' },
  { image: 'https://picsum.photos/id/237/400/300', text: 'Slide 4' },
  { image: 'https://picsum.photos/id/238/400/300', text: 'Slide 5', href: '/' },
  { image: 'https://picsum.photos/id/239/400/300', text: 'Slide 6' },
  { image: 'https://picsum.photos/id/237/400/300', text: 'Slide 7', href: '/' },
  { image: 'https://picsum.photos/id/238/400/300', text: 'Slide 8' },
  { image: 'https://picsum.photos/id/239/400/300', text: 'Slide 9', href: '/' },
];
---

<script>
  import { initCarousel } from '@/utils/init-carousel';

  const rootNode = document.querySelector<HTMLElement>('[data-embla]');
  const emblaNode = rootNode?.querySelector<HTMLElement>(
    '[data-embla-viewport]',
  );
  const prevButtonNode =
    rootNode?.querySelector<HTMLElement>('[data-embla-prev]');
  const nextButtonNode =
    rootNode?.querySelector<HTMLElement>('[data-embla-next]');
  const dotsNode = rootNode?.querySelector<HTMLElement>('[data-embla-dots]');

  if (emblaNode && prevButtonNode && nextButtonNode && dotsNode) {
    initCarousel(emblaNode, prevButtonNode, nextButtonNode, dotsNode);
  }
</script>

<div data-embla class="embla">
  <div data-embla-viewport>
    <div class="container">
      {
        SLIDES.map((slide) =>
          slide.href ? (
            <a href={slide.href} target="_blank" class="slide">
              <div class="slide-image-wrapper">
                <img
                  src={slide.image}
                  alt=""
                  width="400"
                  height="300"
                  class="slide-image"
                />
              </div>
              <p class="slide-text">{slide.text}</p>
            </a>
          ) : (
            <div class="slide">
              <div class="slide-image-wrapper">
                <img
                  src={slide.image}
                  alt=""
                  width="400"
                  height="300"
                  class="slide-image"
                />
              </div>
              <p class="slide-text">{slide.text}</p>
            </div>
          ),
        )
      }
    </div>
  </div>
  <div class="buttons">
    <button type="button" data-embla-prev class="button">Prev</button>
    <button type="button" data-embla-next class="button">Next</button>
  </div>
  <div data-embla-dots class="dots">
    {[...Array(6)].map(() => <div class="dot skeleton" />)}
  </div>
</div>

<style>
  .embla {
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid red;
  }

  .container {
    display: flex;
  }

  .slide {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
    border: 1px solid black;
  }

  .slide[href] {
    transition: opacity 0.2s ease-out;
  }

  .slide[href]:hover {
    opacity: 0.6;
  }

  .slide-image-wrapper {
    width: 100%;
    aspect-ratio: 400 / 300;
    overflow: hidden;
  }

  .slide[href] .slide-image {
    transition: transform 0.2s ease-out;
  }

  .slide[href]:hover .slide-image {
    transform: scale(1.1);
  }

  .slide-text {
    padding: 1rem;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
  }

  .button {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
  }

  .dots {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .embla :global(.dot) {
    width: 1.6rem;
    height: 1.6rem;
    touch-action: manipulation;
    border: 2px solid lightgray;
    border-radius: 50%;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .embla :global(.dot.selected) {
    border: 2px solid black;
  }
</style>
